#AppContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#AppContainer * {
  border: none !important;
}
#SelectInputContainer{
  width: 100%;
  max-width: 640px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
.SelectInput {
  margin: 0;
  font-size: 1.5rem !important;
  cursor: pointer !important;
}
.SelectInput__control {
  background-color: #D1D1D1 !important;
  box-shadow: none !important;
}
.SelectInput__control:focus {
  outline: none !important;
}
.SelectInput__value-container {
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.SelectInput__value-container * {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.SelectInput__input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: bold !important;
  color: transparent !important;
  text-shadow: 0 0 0 black;
}
.SelectInput__input * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: bold !important;
  color: black !important;
  opacity: 1 !important;
  caret-color: transparent !important;
}
.SelectInput__indicator-separator {
  display: none !important;
}
.SelectInput__indicator {
  color: black !important;
  margin-top: 5px !important;
}
#VideoContainer {
  height: 100%;
  width: 100%;
  max-height: 360px;
  max-width: 640px;
  position: relative;
}
#VideoContainer * {
  max-height: 100% !important;
  max-width: 100% !important;
  position: absolute;
}
/* #NoVideoContainer {
  display: none !important;
} */
/* #QuoteContainer {
  height: 100%;
  width: 100%;
  max-height: 360px;
  max-width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#NoQuoteContainer {
  display: none;
} */
iframe {
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.player {
  height: 100% !important;
}
#ContactContainer{
  width: 100%;
  max-width: 640px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
#CompanyEmail {
  margin: 0;
  font-size: 1.5rem;
}
#ContactContainer {
  animation-duration: 2.5s;
  animation-name: slidein-left;
}
@keyframes slidein-left {
  from {
    margin-left: 500%;
    width: 500%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
#SelectInputContainer {
  animation-duration: 2.5s;
  animation-name: slidein-right;
}
@keyframes slidein-right {
  from {
    margin-right: 500%;
    width: -500%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
/* iframe {
  animation-name: makeFatter;
  animation-duration: .1s;
  animation-delay: -.5s;
}
@keyframes makeFatter {                                                             
  0% {
    width: 100%;
  }
  100% {
    width: 100%;
  } 
} */
@media only screen and (max-width: 655px) {
  #SelectInputContainer, #ContactContainer {
    width: 95vw !important;
    margin: 0 2.5vw !important;
  }
  /* #ContactContainer {
    animation-duration: 2.5s;
    animation-name: slidein-left1;
  }
  @keyframes slidein-left1 {
    from {
      margin-left: 500%;
      width: 500%;
    }
    to {
      margin-left: 0%;
      width: 95vw;
    }
  }
  #SelectInputContainer {
    animation-duration: 2.5s;
    animation-name: slidein-right1;
  }
  @keyframes slidein-right1 {
    from {
      margin-right: 500%;
      width: -500%;
    }
    to {
      margin-right: 0%;
      width: 95vw;
    }
  } */
}